#root {
  padding: 30px;
  background: url("./images/rebecca-campbell-5nN9NX6dJxc-unsplash.jpg");
  background-size: cover;
  padding-bottom: 75px;
}

.container {
  position: relative;
  max-width: 800px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  font-family: "Catamaran", sans-serif;
  margin-top: 35px;
  padding: 30px;
  color: rgb(36, 35, 35);
  background: rgba(231, 231, 231, 0.5);

  color: #2f364e;
}

.date,
.time {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 10px;
  opacity: 0.8;
}

.time {
  text-align: right;
}

.search-bar {
  margin-bottom: 10px;
}
.bar {
  display: inline-block;
}

.search {
  border-radius: 20px;
  padding-left: 25px;
  background: rgba(231, 231, 231, 0.5);

  border: solid 0.5px #2f364e;
  height: 43px;
}
.icons {
  display: inline-block;
  padding-left: 10px;
}
.fabutton {
  display: inline-block;
  background: none;
  padding: 10px;
  border: none;
  font-size: 20px;
  color: #2f364e;
}
button i:hover,
small a:hover {
  transition: 0.25s ease-in-out;
  color: rgba(155, 153, 153, 1);
}
.city-name h2 {
  text-align: left;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 40px;
  font-family: "Montserrat", sans-serif;
}
.city-highlights {
  text-align: left;
}

.temp h1 {
  font-size: 100px;
  text-align: right;
}
small {
  font-size: 20px;
}
li {
  list-style: none;
}
ul {
  padding-top: 30px;
  margin-left: -30px;
}
.conditions {
  font-size: 17px;
  margin-top: 0;
}

.conditions img {
  display: block;
  margin: 0 auto;
  float: right;
  width: 130px;
  padding-bottom: 5px;
}

#current-conditions {
  font-size: 18px;
}
li::first-letter {
  text-transform: capitalize;
}

.weatherForecast {
  margin-top: 15px;
  text-align: center;
}
.weatherForecast div img {
  width: 50px;
}

.forecastDay {
  opacity: 0.9;
}

.forecastIcon img {
  text-align: center;
  width: 35px;
  margin: 5px;
}
.forecastLow {
  opacity: 0.6;
}
a {
  text-decoration: none;
  color: #2f364e;
}
footer {
  text-align: center;
  opacity: 0.9;
  margin-top: 4px;
  font-size: 15px;
}
footer a {
  text-decoration: underline;
}

footer a:hover {
  transition: 0.25s ease-in-out;
  color: rgba(231, 231, 231, 0.9);
}

.temp .active {
  color: #272343;
  cursor: default;
  font-size: 22px;
}
